/* Google Fonts
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    font-family: 'Lexend Zetta', sans-serif;
*/
   
/* Colors:
    Red-Brown #734432;
    Dark Brown #412D1D;
    Ashy Blue: #6F8ABF;
    Orange: #A66F3F;
    Olive: #A8AA89;
*/

/* See the divs, comment out before publishing */

/* div {
    border: 1pt dotted red;
} */

/* Center align content in window */

body {
    max-width: 1280px;
    margin: 0 auto;
}

/* STUPID NAVIGATION BAR */

#navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 10%;
}
  
.navigation-bar {
    width: 73%;
    padding: 1%;
}
  
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: left;
}
  
.navigation-bar li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}
  
.logo {
float: left
}

.heroimg {
   height: 600px;
   padding: 25px;
}

button {
    background-color: #6F8ABF; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
} 

/* Text wrap that prevents my border from working*/

.left {
    float: left;
    margin: 0 10px 10px 0;
}

/* Element Styles */

* {
    font-family: Lexend Deca;
    color: #412D1D;
}

h1 {
    font-family: Lexend Mega;
    font-size: 88px;
    color: #734432;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    font-family: Lexend Zetta;
    font-size: 48px;
    color: #734432;
    margin-top: 0;
}

h3 {
    font-family: Lexend Mega;
    font-size: 24px;
    margin-top: 0;
}

p {
    font-size: 36px;
}

/* Font Class Styles */

.pb {
    font-size: 48px;
}

.ps {
    font-size: 24px;
}

.n1 {
    font-family: Lexend Mega;
    font-size: 36px;
    color: #6F8ABF;
}

.n2 a {
    font-family: Lexend Mega;
    font-size: 24px;
    color: #6F8ABF;
    text-decoration: none;
}

.n2 a:hover {
    text-decoration: underline !important;
    color: #A66F3F;
}

/* Stupid span */

#inlineZ {
    font-family: Lexend Zetta;
    font-size: 26px;
    color: #734432;
}

.strikeout {
    font-size: 24px;
    line-height: 24px;
    position: relative;
}

.strikeout::after {
    border-bottom: 12px solid #412D1D;
    content: "";
    left: 0;
    margin-top: calc(3px / 2 * -2);
    position: absolute;
    right: 0;
    top: 50%;
}

.buttCenter {
    display: flex;
    justify-content: center;
}

/* GRID! Can I make it happen? Stay tuned. */

.triColGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "leftCol centerCol rightCol";
}

#leftCol {
    margin: 5%;
}

#centerCol {
    margin: 5%;

}

#rightCol {
    margin: 5%;
}

.researchPic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.interfacePic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.webDevPic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}