/* Google Fonts
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    font-family: 'Lexend Zetta', sans-serif;
*/
   
/* Colors:
    Red-Brown #734432;
    Dark Brown #412D1D;
    Ashy Blue: #6F8ABF;
    Orange: #A66F3F;
    Olive: #A8AA89, rgb(168, 170, 137);
*/

/* See the divs, comment out before publishing */

/* div {
    border: 1pt dotted red;
} */

/* Center align content in window */

body {
    max-width: 1280px;
    margin: 0 auto;
}

/* STUPID NAVIGATION BAR */

#navigation-container {
    width: 100%;
}
  
.navigation-bar {
    /* width: 73%; */
    padding: 1% 1% 3% 1%;
}
  
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
  
.navigation-bar li {
    display: inline-block;
    text-decoration: none;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}
  
.logo {
    height: 50px;
}

/* .heroimg {
   height: 600px;
   padding: 25px;
} */

button {
    background-color: #6F8ABF;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
} 

/* Text wrap that prevents my border from working*/

.left {
    float: left;
    margin: 0 10px 10px 0;
}

/* Element Styles */

* {
    font-family: Lexend Deca;
    color: #412D1D;
}

h1 {
    font-family: Lexend Mega;
    font-size: 88px;
    font-weight: 100; 
    color: #734432;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: Lexend Zetta;
    font-size: 48px;
    font-weight: 300; 
    color: #734432;
    margin-top: 0;
}

h3 {
    font-family: Lexend Mega;
    font-size: 24px;
}

p {
    font-size: 36px;
}

a {
    color: #734432;
}

a:hover {
    color: #6F8ABF;
    text-decoration: underline;
}

/* Font Class Styles */

.pb {
    font-size: 48px;
}

.ps {
    font-size: 24px;
}

.n1 {
    font-family: Lexend Mega;
    font-size: 36px;
    color: #6F8ABF;
}

.n2 {
    font-family: Lexend Mega;
    font-size: 24px;
    color: #6F8ABF;
    text-decoration: none;
}

.n2 a {
    font-family: Lexend Mega;
    font-size: 24px;
    color: #6F8ABF;
    text-decoration: none;
}

.n2 a:hover {
    text-decoration: underline !important;
    color: #A66F3F;
}

/* Stupid span */

#inlineZ {
    font-family: Lexend Zetta;
    font-size: 26px;
    color: #734432;
}

.strikeout {
    font-size: 24px;
    line-height: 24px;
    position: relative;
}

.strikeout::after {
    border-bottom: 12px solid #412D1D;
    content: "";
    left: 0;
    margin-top: calc(3px / 2 * -2);
    position: absolute;
    right: 0;
    top: 50%;
}

.buttCenter {
    display: flex;
    justify-content: center;
}

/* Media Query for Navigation and gigantasaurus text */
@media only screen and (max-width:830px){
        
    .navigation-bar li {
        padding: 5px 10px;
     }

    .n2 a {
        font-size: 16px;
    }
}
  /* Kept for reference if decide to decrease font for small screens
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 12px;
    }
    
    p {
        font-size: 18px;
    }
    
    .pb {
        font-size: 24px;
    }
    
    .ps {
        font-size: 12px;
    }
    
    .n1 {
        font-size: 18px;
    }
    
    .logo {
        height: 25px;
    }
    
    #inlineZ {
        font-size: 13px;
    }

    .strikeout {
        font-size: 13px;
        line-height: 13px;
        position: relative;
    }
    
    .strikeout::after {
        border-bottom: 6px solid #412D1D;
        content: "";
        left: 0;
        margin-top: calc(1.5px / 2 * -2);
        position: absolute;
        right: 0;
        top: 50%;
    }
    */
