/* My UX Skills section coded using CSS flex */

.flexContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
}

#leftCol {
    width: 33%;
    margin: 1%;
}

#centerCol {
    width: 33%;
    margin: 1%;
}

#rightCol {
    width: 33%;
    margin: 1%;
}

.researchPic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.interfacePic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.webDevPic {
    min-width: 200px;
    width: 100%;
    height: 400px;
    background-image: url("../images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Media Query */
@media only screen and (max-width:600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    #leftCol {
        width: 100%;
    }
    
    #centerCol {
        width: 100%;
    }
    
    #rightCol {
        width: 100%;
    }
}


