.rowRowRowYourGrid {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "row1Img row1Text row1Text"
    "row2Img row2Text row2Text"
    "row3Img row3Text row3Text"
    ;
}

.rowRowRowYourGrid h3 {
    margin-top: 0;
}

#row1Img {
    grid-area: row1Img;
    background-image: url("../images/lym.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#row1Text {
    grid-area: row1Text;
    margin-left: 25px;
}

#row2Img {
    grid-area: row2Img;
    background-image: url("../images/nasa.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#row2Text {
    grid-area: row2Text;
    margin-left: 25px;
}

#row3Img {
    grid-area: row3Img;
    background-image: url("../images/c4c.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

#row3Text {
    grid-area: row3Text;
    margin-left: 25px;
}

/* Media Query */
@media only screen and (max-width:600px){
    .rowRowRowYourGrid {
        display:grid;
        grid-template-rows: 450px 450px 450px 450px 450px 450px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "row1Img"
        "row1Text"
        "row2Img"
        "row2Text"
        "row3Img"
        "row3Text"
    ;
    }
}